<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.babbangona.evoucherapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.bgenterprise.bglmtcinventory.READ_DATABASE"/>
    <uses-permission android:name="com.bgenterprise.bglmtcinventory.WRITE_DATABASE"/>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:roundIcon,android:theme">
        <activity android:name=".ValidateIDCard" />
        <activity android:name=".ReceiptScanner" />
        <activity android:name=".ValidateMember" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TokenValidator" />
        <activity
            android:name=".Main2Activity"
            android:exported="true"
            android:label="@string/main2activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TokenResult" />
        <activity android:name=".CameraPage" />
        <activity android:name=".Scanner" />
        <activity android:name=".StatisticsPage" />
    </application>

</manifest>